<template>
  <require from="./notes.scss"></require>
  <require from="./editor/editor"></require>
  <header class="main-header">
    <div class="user-selection">
      <h4>Current user: id = ${authManager.CurrentUser.id} name = ${authManager.CurrentUser.userName}</h4>
      <h3 class="user-selector">User selector:</h3>
      <div class="signed-user">
        <button class="user" click.delegate="changeUser(role.Admin)">Admin</button>
        <button class="user" click.delegate="changeUser(role.Manager)">Manager</button>
        <button class="user" click.delegate="changeUser(role.User)">User</button>
      </div>
    </div>
    <button class="add-button" click.delegate="addNewEntry()">+ New entry</button>
  </header>
  <div class="container">
    
    <editor repeat.for="entry of entryManager.Entries" entry.bind="entry" selected-entry.bind="entryManager.SelectedEntry"/>
  </div>
  <footer class="main-footer">
  </footer>

</template>
